<%include ('header') %> 

<% if (entries.length) { %>
    <% entries.forEach(function(entries))
<div class="panel" "panel-default">
    <div class="panel-heading">
        <div class="text-muted pull-right"">
        <%= entry.puhlished %>
    </div>
    <%= entry.title %>
    <div class="panel-body"></div>
</div>
</div>

<%}) %}>
<%} else {
    <%{No Entries <a> href="/new-entry"> Add the Information</a>
    <%}%>

<%include ('footer') %>

<!--Comment in EJS-->